.body {
    width: 100%;
    z-index: 0;
    position: relative;
    top: 0;
    transition: all .5s ease;
    background: #f0f0f0;
    padding: 1rem;
    max-height: 100vh; /* Set a maximum height of 50% of the viewport height */
    overflow: auto; /* Add scrollbars if content overflows */
}

.body-trimmed {
    width: calc(100%);
    margin-left: 0rem;
}

.body-md-screen {
    width: calc(100% );
    margin-left: 0rem;
}

.auth-page {
    /* Add your specific styles here */
    /* For example: */
    background-color: #fff;
  }