<button mat-raised-button (click)="openConsultationModal()">Add Consultation</button>
<mat-vertical-stepper class="custom-stepper">
  <mat-step *ngFor="let consultation of consultations" [completed]="true" >
    <ng-template matStepLabel>
      <h3>{{ consultation.dateStart | date:'EEEE dd/MM/yyyy HH:mm':'fr'  }} - {{consultation.motive }}</h3>
    </ng-template>
    <p><span class="bold">Duration:</span> {{ -calculateDuration(consultation.dateEnd, consultation.dateStart) }} min</p>
    <p><span class="bold">Motive:</span> {{ consultation.motive }}</p>
    <p *ngIf="consultation.comment"><span class="bold">Comment:</span> {{ consultation.comment }}</p>
    <p *ngIf="consultation.prescription"><span class="bold">Prescription:</span> {{ consultation.prescription }}</p>
  </mat-step>
</mat-vertical-stepper>
