<h1>Patient info</h1>
<div class="container">
  <div class="left">
    <mat-card class="card-left">
      <mat-card-content>
        <div class="top-left">
          <h2>Information général</h2>
          <div class="top-left-container">
            <div class="top-left-left">Nom</div>
            <div class="top-left-right">Btmt</div>
          </div>
          <mat-divider></mat-divider>
          <div class="top-left-container">
            <div class="top-left-left">Prénom</div>
            <div class="top-left-right">Salim</div>
          </div>
          <mat-divider></mat-divider>
          <div class="top-left-container">
            <div class="top-left-left">Date de naissance</div>
            <div class="top-left-right">27-05-2000</div>
          </div>
          <mat-divider></mat-divider>
          <div class="top-left-container">
            <div class="top-left-left">Sexe</div>
            <div class="top-left-right">M</div>
          </div>
          <mat-divider></mat-divider>
          <div class="top-left-container">
            <div class="top-left-left">Groupe sanguin</div>
            <div class="top-left-right">O-</div>
          </div>
        </div>

        <div class="bottom-left">
          <h2>Information contact</h2>
          <div class="top-left-container">
            <div class="top-left-left">Adresse</div>
            <div class="top-left-right">....</div>
          </div>
          <mat-divider></mat-divider>
          <div class="top-left-container">
            <div class="top-left-left">Telephone</div>
            <div class="top-left-right">1234567890</div>
          </div>
          <mat-divider></mat-divider>
          <div class="top-left-container">
            <div class="top-left-left">Email</div>
            <div class="top-left-right">email@gmail.com</div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="right">
    <mat-card class="card-right">
      <mat-card-content> 
        <div class="bottom-left">
            <h2>Information contact</h2>
            <div class="top-left-container">
              <div class="top-left-left">Adresse</div>
              <div class="top-left-right">....</div>
            </div>
            <mat-divider></mat-divider>
            <div class="top-left-container">
              <div class="top-left-left">Telephone</div>
              <div class="top-left-right">1234567890</div>
            </div>
            <mat-divider></mat-divider>
            <div class="top-left-container">
              <div class="top-left-left">Email</div>
              <div class="top-left-right">email@gmail.com</div>
            </div>
          </div>
          <div class="bottom-left">
            <h2>Information contact</h2>
            <div class="top-left-container">
              <div class="top-left-left">Adresse</div>
              <div class="top-left-right">....</div>
            </div>
            <mat-divider></mat-divider>
            <div class="top-left-container">
              <div class="top-left-left">Telephone</div>
              <div class="top-left-right">1234567890</div>
            </div>
            <mat-divider></mat-divider>
            <div class="top-left-container">
              <div class="top-left-left">Email</div>
              <div class="top-left-right">email@gmail.com</div>
            </div>
          </div>
          <div class="bottom-left">
            <h2>Information contact</h2>
            <div class="top-left-container">
              <div class="top-left-left">Adresse</div>
              <div class="top-left-right">....</div>
            </div>
            <mat-divider></mat-divider>
            <div class="top-left-container">
              <div class="top-left-left">Telephone</div>
              <div class="top-left-right">1234567890</div>
            </div>
            <mat-divider></mat-divider>
            <div class="top-left-container">
              <div class="top-left-left">Email</div>
              <div class="top-left-right">email@gmail.com</div>
            </div>
          </div>
          <div class="bottom-left">
            <h2>Information contact</h2>
            <div class="top-left-container">
              <div class="top-left-left">Adresse</div>
              <div class="top-left-right">....</div>
            </div>
            <mat-divider></mat-divider>
            <div class="top-left-container">
              <div class="top-left-left">Telephone</div>
              <div class="top-left-right">1234567890</div>
            </div>
            <mat-divider></mat-divider>
            <div class="top-left-container">
              <div class="top-left-left">Email</div>
              <div class="top-left-right">email@gmail.com</div>
            </div>
          </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
