<h1>Patient info</h1>
<div class="container">
  <div class="left">
    <mat-card>
      <mat-card-content>
        <div class="card-left">
          <h2>Information général</h2>
          <div class="top-left-container">
            <div class="top-left-left">Nom</div>
            <div class="top-left-right">{{ patient.lastname }}</div>
          </div>
          <mat-divider></mat-divider>
          <div class="top-left-container">
            <div class="top-left-left">Prénom</div>
            <div class="top-left-right">{{ patient.firstname }}</div>
          </div>
          <mat-divider></mat-divider>
          <div class="top-left-container">
            <div class="top-left-left">Date de naissance</div>
            <div class="top-left-right">{{ patient.birthDate | date }}</div>
          </div>
          <mat-divider></mat-divider>
          <div class="top-left-container">
            <div class="top-left-left">Sexe</div>
            <div class="top-left-right">Add gender</div>
          </div>
          <mat-divider></mat-divider>
          <div class="top-left-container">
            <div class="top-left-left">Groupe sanguin</div>
            <div class="top-left-right">{{ patient.bloodtype }}</div>
          </div>
        </div>

        <div class="bottom-left">
          <h2>Information contact</h2>
          <div class="top-left-container">
            <div class="top-left-left">Adresse</div>
            <div class="top-left-right">{{ patient.address.street }}, {{ patient.address.city }} {{ patient.address.postalCode }}</div>
          </div>
          <mat-divider></mat-divider>
          <div class="top-left-container">
            <div class="top-left-left">Telephone</div>
            <div class="top-left-right">{{ patient.phone }}</div>
          </div>
          <mat-divider></mat-divider>
          <div class="top-left-container">
            <div class="top-left-left">Email</div>
            <div class="top-left-right">{{ patient.email }}</div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="right">
    <mat-card class="card-right">
      <mat-card-content>
        <div class="bottom-left">
          <h2>Historique de consultations</h2>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
