.container-patient {
    display: flex;
    height: 90vh;
}

.container-patient h2{
    margin-bottom: 3rem;
}

.left, .right {
    max-height: 100%;
}

.left {
    flex-grow: 10; 
    margin-top: 2rem;
    margin-left: 7rem;
    margin-right: 2rem;
}

.right {
    margin-top: 2rem;
    flex-grow: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-right {
    padding: 1rem;
    width: 96%;
    max-height: 100%; 
}


mat-card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 76vh;
    overflow: auto;
}

.card-right.has-content {
    overflow-y: auto;
}

.top-left-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.top-left-left, .top-left-right {
    display: flex;
    justify-content: center;
}

.bottom-left, .top-left {
    display: flex;
    flex-direction: column;
}

/* Your existing CSS styles */
  
  /* Rest of your CSS styles... */
  
  /* End of your existing CSS */
  
  /* Adjustments to prevent overflow */
  .auth-page,
  .head,
  .body {
    max-height: 100vh;
    overflow: auto;
  }
  
  /* Responsive adjustments */
  .body-trimmed {
    width: calc(100% - 16.5625rem);
    margin-left: 12.5625rem;
  }
  
  .body-md-screen {
    width: calc(100%);
    margin-left: 5rem;
  }
  
  .head-md-screen {
    width: calc(100% - 5rem);
    margin-left: 5rem;
  }

  .modify-button{
    margin-top: 1rem;
  }
