/* Overall Page Styles */
.container-consultation {
  display: flex;
  height: 90vh;
  flex-direction: column;
  margin-left: 6rem;
  margin-bottom: 3rem ;
}

.body h1 {
  margin-top: 2rem;
  margin-left: 6rem;
  margin-bottom: 1rem;
}

/* Adjustments to prevent overflow */
.auth-page, .head, .body {
  max-height: 100vh;
}

/* Responsive adjustments */
.body-trimmed {
  width: calc(100% - 16.5625rem);
  margin-left: 12.5625rem;
}

.body-md-screen {
  width: calc(100%);
  margin-left: 6rem;
}

.head-md-screen {
  width: calc(100% - 5rem);
  margin-left: 6rem;
}

/* Button Styles */
.btn-group {
  display: flex;
  justify-content: space-between;
}

.btn-group button {
  padding: 10px 15px;
  margin: 0 5px;
  background-color: #17A589; /* Set the theme color as the background */
  color: #fff;
  border: none;
  cursor: pointer;
}

.btn-group button.btn-outline-secondary {
  background-color: #fff;
  color: #17A589;
  border: 2px solid #17A589;
}

.btn-group button.active {
  background-color: #000;
  color: #fff;
}

/* Calendar View Styles */
.col-md-4, .col-md-4 h3 {
  margin: 1rem;
  text-align: center;
  color: #000; /* Use the theme color for text */
}

.mwl-calendar-month-view, .mwl-calendar-week-view, .mwl-calendar-day-view {
  margin-top: 20px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

/* Adjust the button spacing in the middle column */
.center button {
  margin: 0 5px;
}

/* Style the buttons */
.btn-group button {
  padding: 10px 15px;
  margin: 0 5px;
}

.btn-group button.btn-primary {
  background-color: #17A589; /* Use the specified theme color */
  color: #fff;
  border: 1px solid #17A589; /* Use the specified theme color */
}

.btn-group button.btn-outline-secondary {
  background-color: #fff;
  color: #17A589; /* Use the specified theme color */
  border: 1px solid #17A589; /* Use the specified theme color */
}

.btn-group button.active {
  background-color: #17A589; /* Use the specified theme color */
  color: #fff;
}

h3 {
  margin: 0 0 10px;
}

pre {
  background-color: #f5f5f5;
  padding: 15px;
}